
<h2>Sign In!</h2>
<div class='login-page-form'>
  <%=form_for :session, url:login_path do |f|%>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%=f.label :email, class: "mdl-textfield__label" %>
      <%=f.email_field :email, class: "mdl-textfield__input"%>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%=f.label :password, class: "mdl-textfield__label" %>
      <%=f.password_field :password, class: "mdl-textfield__input", pattern: "^[a-zA-Z0-9]{6,}$" %>
    </div><br class='sep'>
      <%=f.submit :'Sign In', class: "mdl-button mdl-js-button mdl-button--flat mdl-button--accent sign-in-button", data:{disable_with: 'loading...'}%>
  <%end%>
</div>