<li class='mdl-list__item mdl-list__item--two-line to-do-list-item'>
  <div class='star-button'>
    <%=render partial: 'entries/star_button', locals: {entry: entry}%>
  </div> 
  <div class='entry-unhider'>
    <div class='entry-description-all'>
      <span class='mdl-list__item-primary-content article-title'>
        <%=truncate(entry.title, length:75, omission:'...')%>
        <span class='article-url mdl-list__item-sub-title '>
          <%=entry.blog.categories.first(3).map {|x| x.title}.join(', ') %>: <%= entry.blog.url %>
        </span>
      </span>
      <span class='article-published'>
        <%=entry.published.strftime('%A, %D %l:%M %p') if entry.published%>
      </span>
    </div>
    <span class='blog-entry-content' style="display:none;">
      <%=entry.content.html_safe%>
    </span>
  </div>
</li>