<div class='user-feeds'>
  <ul class='mdl-list'>
    <%if @entries.length < 1%>
        <li class='mdl-list__item'>
          <div class='entry-unhider'>
            <span class='mdl-list__item-primary-content article-title'>
              Add some RSS feeds, already
            </span>
            <span class='blog-entry-content' style="display:none;">
              If you don't add feeds, you won't have anything to read, and I won't have data to sell so get on it already
            </span>
          </div>
        </li>
      <%else%>
        <%@entries.each do |entry|%>
          <li class='mdl-list__item '>
            <div class='star-button'>
              <%=render partial: 'entries/star_button', locals: {entry: entry}%>
            </div> 
            <div class=' entry-unhider'>
              <span>
                <%=entry.published.strftime('%A, %D %l:%M %p') if entry.published%>
              </span>
              <span class='mdl-list__item-primary-content article-title'>
                <%= entry.title %>
              </span>
              <span class='article-url mdl-list__item-secondary-content'>
                <%= entry.blog.url %>
              </span>
              <span class='blog-entry-content' style="display:none;">
                <%=entry.content.html_safe%>
              </span>
            </div>
          </li>
        <%end%>
      <%end%>
    </ul>
</div>

