<%=Time.now.strftime('%D')%><br>
  <ul>
  <%current_user.todos.each do |todo| %>
    <%if (todo.duedate + 5.hours).today? %>
      <% if !todo.is_completed %> 
        <li>
          <%="#{todo.description}"%>
          <%= link_to complete_path(todo), method: :post, remote: true, data:{idNum: todo.id}, class: 'complete-button'   do %>
          <i class="material-icons circle">
            radio_button_unchecked
          </i>
          <%end%>
        </li>
      <%else%>
        <li class='cross-out'>
          <%="#{todo.description}"%>
          <%= link_to uncomplete_path(todo), method: :post, remote: true, data:{idNum: todo.id}, class: 'un-complete-button'   do %>
          <i class="material-icons circle">
            radio_button_unchecked
          </i>
          <%end%>
        </li>
      <%end%>
    <%end%>
  <%end%>
  </ul>
  <%=form_for @user.todos.build do |f|%>
    <%= f.date_select :duedate %><br>
    <%=f.text_field :description%>
    <%=f.submit%>
<%end%>