<h6 class='category-title'>
  <%=link_to "To Do", todos_path, id: 'to-do-link'%>
</h6>
<ul id='today-todo-list'>
<%current_user.todos.each do |todo| %>
  <%if (todo.duedate - (Time.now.utc - Time.now.localtime)).today? %>
    <% if !todo.is_completed %> 
      <li id='todo-id-<%=todo.id%>'>
      <%=render partial: 'todos/incomplete', locals: {todo: todo}%>
      </li>
    <%else%>
      <li id='todo-id-<%=todo.id%>' class='cross-out'>
      <%=render partial: 'todos/completed', locals: {todo: todo}%>
      </li>
    <%end%>
  <%end%>
<%end%>
</ul>
<%= render 'todos/form'%>
