<div class='suggestion-items'>
  <h3>Top Feeds</h3>
  <select class="js-example-basic-multiple" multiple="multiple">
  <%@categories.each do |category|%>
    <option value="<%=category.title%>"><%=category.title%></option>
  <%end%>
  </select>

  <% @categories.each do |category| %>
    <div id='<%=category.title%>' class='suggestions-hider'>
    <h5><%= category.title %></h5>
    <%if @blogs[category.title]%>
     <span><%=link_to @blogs[category.title][0].url, addblog_path(@blogs[category.title][0].id), method: :post, class: 'suggestion-link', remote: true, id: "blognum-#{@blogs[category.title][0].id}" %></span>
    <%else%>
      <span> None of this type yet, sadly </span>
    <%end%>
  </div>
  <%end%>
</div>
<%=link_to root_path, class: 'homelink-sug' do %>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Go To Main Feed</button>
<%end%>


