<div class="mdl-layout__drawer">
  <span class='site-title'>
    <%=link_to 'Daily Constitutional', root_path, class: 'mdl-layout-title' %>
  </span>
  <% if current_user %>
    <div class='drawer-cell'>
     <%=render 'partials/newfeed'%>
    </div>
    <%=render @user if @user%>
    <%=link_to "Edit", edit_user_path(current_user) if current_user && @user == current_user%>
    <div class='drawer-cell'>
      <%=render 'partials/weather'if @user%>
    </div>
    <div class='drawer-cell'>
      <%=render 'partials/mta' if @tStatus %>
    </div>
    <div class='drawer-cell drawer-cell-todo'>
     <%=render 'partials/todos' if current_user%>
    </div>
    <div class='drawer-cell'>
      <%=render 'partials/feeds' if current_user%>
    </div>
  <%else%>
    <p>Sign In For All The Things</p>
  <%end%>
</div>