<div class="mdl-layout__drawer">
  <span class='site-title'>
    <%=link_to 'Daily Constitutional', root_path, class: 'mdl-layout-title' %>
    <%=Time.now.strftime('%A, %B %e, %Y ')%>
  </span>
  <% if current_user %>
    <div class='drawer-cell'>
     <%=render 'partials/newfeed'%>
    </div>
    <div class='drawer-cell'>
      <%=render @user if @user%>
      <%=render 'partials/weather'if @user%>
    </div>
    <div class='drawer-cell drawer-cell-mta'>
      <%=render 'partials/mta' if @tStatus %>
    </div>
    <div class='drawer-cell drawer-cell-todo'>
     <%=render 'partials/todos' if current_user%>
    </div>
    <div class='drawer-cell'>
      <%=render 'partials/feeds' if current_user%>
    </div>
  <%else%>
    <div class='drawer-cell'>
      <p>
        Sign In For All The Things
      </p>
    </div>
  <%end%>
</div>