<!DOCTYPE html>
<html>
  <head>
    <title>Daily Constitutional | <%=@title%></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.blue_grey-orange.min.css" />
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=.6">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <%= render 'layouts/navbar'%>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class='main-content'>
            <%= yield %>
            <%=render 'layouts/reader_modal'%>
            <%=render 'layouts/footer'%>
          </div>
        </div>
      </main>
      <%=render 'layouts/loading_modal'%>
    </div>
  </body>
</html>

