<!DOCTYPE html>
<html>
<head>
  <title>V3</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%=link_to 'home', user_path(current_user) if current_user%></li>
      <li><%=link_to 'todos', user_path(current_user) if current_user%></li>
      <li><%=link_to 'Sign Out', login_path, method: :delete if current_user %></li>
    </ul>

  </nav>
  <%=flash[:notice] if flash[:notice]%>
  
  <%= yield %>

</body>
</html>
